# Ignore everything
*

# Except the .gitignore file itself
!.gitignore

# Allow wp-content directory
!wp-content/

# Ignore everything inside wp-content
wp-content/*

# Except the themes folder and its contents
!wp-content/themes/
!wp-content/themes/**

# Large files 
*.zip
*.rar
*.tar.gz

*.log